<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Made It!</h1>
    <p>Is Authenticated: <%= isAuthenticated %></p>
    <script src="js/LoginModule.js"></script>
  </body>
</html>
